<div id="contentBigTop"><div class="HeadText"><a href="">INFO</a>{EDIT}</div></div>
<div id="contentBig">
    <div class="contenText">
        <div id="infoAngabe">Rank</div> {RANG}<br />
        <div id="infoAngabe">Status</div> {STATUS}
        <div id="trennlinie"></div>    
        <div id="infoAngabe">Dabei seit dem</div> {JOINED}<br />
        <div id="infoAngabe">Letzte Aktivität am</div> {LASTAK}<br />
        <div id="infoAngabe">Insgesamt Beiträge</div> {POSTS}, {_lang_perday}: {postpday}
        <div id="trennlinie"></div>    
        {WOHNORT}      
        {GEBURTSDATUM}
        {GEBURTSJAHR}
        {STERNZEICHEN}
        <div id="infoAngabe">Geschlecht</div> {GESCHLECHT}
        {HOMEPAGE}
    </div>
</div>

{KONTAKT}
{SIGNATUR}