<div id="box-Top"><div class="HeadText"><a href="?user-info-{UID}">INFO</a></div></div>
<div id="box-Index">
    <div class="ContentText">
        {JOINED}
        {WOHNORT}
        {GEBURTSTAG}
        {GESCHLECHT}
    </div>
</div>  
{EXPLODE}
<div id="box-Top" style="margin-top: 11px;"><div class="HeadText"><a href="?user-fotos-{UID}">FOTOS</a> <a href="?user-fotos-{UID}">{UGBILDER}</a></div></div>
<div id="box-Index">
    {EXPLODE}
    {BILDER}
    {EXPLODE}
    <br clear="all">
</div>    
{EXPLODE} 
<div id="box-Top" style="margin-top: 11px;"><div class="HeadText"><a href="?user-friends-{UID}">FREUNDE</a> <a href="?user-friends-{UID}">{ZFRIENDS}</a></div></div>
<div id="box-Index">
    {EXPLODE}
    {FRIENDA}
    {EXPLODE}
    <br clear="all">
</div>