<div id="contentBigTop"><div class="HeadText"><a href="">Blockierte User</a></div></div>
<div id="contentBig">
    {EXPLODE}
    <div id="cFContent">
        <div class="cFAvatar">
            <img src="include/images/userprofil/avatar/nouser.png" width="75" height="75" border="0">
        </div>
        <div class="cFInfo">
            <div class="contenText cFInfoText">
                <span>{FNAME}</span>
                {OTHER}            
            </div>
        </div>
    </div>
    {EXPLODE}
    <br clear="all">
</div>